<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col">
            <h1>About</h1>
            <p>
                IP Address:{{ index .StringMap "remote_ip" }}
            </p>
            <p>
                {{ if ne (index .StringMap "remote_ip") "" }}
                    Your remote IP address is: {{ index .StringMap "remote_ip"}}
                {{ else }}
                    Your remote IP address is unknown
                {{ end }}
            </p>
        </div>
    </div>
</div>
</body>
</html>

